
@import '../../mixins.scss';

.form-edit {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--colorForeBackground);
    box-shadow: 0px 0px 1px 0px var(--box-shadow10);

    &__error {
        color: var(--red);
        margin-bottom: 10px;
    }

    label {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    input:last-of-type {
        margin-bottom: 24px;
    }

    &__description-label {
        display: flex;
        justify-content: space-between;
    }
}