@import '../../variables.scss';
@import '../../mixins.scss';

.article-card {
    position: relative;
    padding: 30px;
    margin-bottom: 15px;
    background-color: var(--colorForeBackground);
    box-shadow: 0px 0px 1px 0px var(--box-shadow10);

    &__background {
        position: absolute;
        top: 15px;
        left: 15px;
        max-width: 778px;
        max-height: 450px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    }

    &__head{
        height: 200px;
    }

    &__info {
        position: relative;
        padding: 15px;
        background-color: var(--colorForeBackground);
        z-index: 3;

        .btn {
            display: inline-block;
            height: 50px;
            padding-right: 20px;
            color: var(--black);
            font-weight: 700;
            line-height: 50px;
            background-color: var(--backgroundColorArticleCardButton);
            box-shadow: 1px 1px 3px 0 var(--box-shadow20);
            @include transition(background-color, 0.2s);
            @include transition(color, 0.2s);

            &:hover {
                background-color: var(--colorSecondaryArticleCard);
                color: var(--white);
            }

            i {
                padding: 0px 30px 0px 15px;
                margin-right: 10px;
                height: 50px;
                line-height: 50px;
                color: var(--white);
                background-color: var(--colorSecondaryArticleCard);
                clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
            }
        }
    }

    &__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 600;

        button {
            padding: 4px 8px;
            font-size: 20px;
            color: var(--color);
            border: none;
            background-color: transparent;
            @include border-radius(5px);
            @include transition(background-color, 0.2s);

            &:hover {
                background-color: var(--colorCommentDeleteButtonHover);
            }
        }
    }

    &__additional-info {
        margin-bottom: 16px;

        span {
            display: inline-flex;
            align-items: center;
            margin-right: 16px;

            i {
                color: var(--colorSecondaryArticleCard);
                margin-right: 6px;
            }
        }
    }

    &__tags {
        margin-bottom: 16px;

        span {
            display: inline-block;
            padding: 2px 5px;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 600;
            color: var(--white);
            background-color: var(--colorSecondaryArticleCard);

            @include border-radius(3px);
        }
    }

    &__content {
        margin-bottom: 16px;
        line-height: 1.5em;
    }
}