@import '../../variables.scss';
@import '../../mixins.scss';

.footer {
    font-size: 14px;
    color: var(--colorFooter);
    background-color: var(--colorForeBackground);

    .container {
        max-width: 1140px;
        min-width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media screen and (max-width: 1175px){
            margin: 0 10px;
        }
    }

    &__item {
        height: 50px;
        display: flex;
        align-items: center;

        a {
            color: var(--colorLinkFooter);
            font-weight: 700;
            @include transition(color, 0.2s);

            &:hover {
                color: #49addfaf;
            }
        }
    }

    &__img-link {
        width: 24px;
        margin-right: 15px;
    }
}