
@import '../../mixins.scss';

.textarea {
    min-height: 70px;
    margin-bottom: 16px;
    padding: 12px 12px;
    font-family: var(--fontFamilyMain);
    color: var(--colorTextarea);
    font-size: 16px;
    resize: none;
    background-color: var(--backgroundColorTextarea);
    border: 1px solid var(--colorBorderTextarea);
    @include border-radius(3px);
    @include transition(border, 0.2s);
    outline: none;

    &:focus, &:focus-visible {
        border: 1px solid var(--colorBorderTextareaFocus);
    }
}

.big {
    min-height: 400px;
    resize: vertical;
}

.textarea-span {
    margin-right: 4px;
    color: var(--red);
}

.textarea-label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}