@import '../../variables.scss';
@import '../../mixins.scss';

.comments { 

    &__title {
        padding-bottom: 12px;
        margin-bottom: 20px;
        border-bottom: 1px solid $colorCommentsTitleBorder;

        span {
            margin-left: 10px;
            color: $colorCommentTitleSpan;
            font-size: 22px;
        }
    }

    &__add{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin-top: 20px;

        border-top: 1px solid $colorCommentsTitleBorder;

        label {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
}