
@import '../../mixins.scss';

.button {
    width: fit-content;
    padding: 0px 20px;
    height: 36px;
    font-family: var(--fontFamilyMain);
    color: var(--white);
    background-color: var(--colorButtonFeedback);
    border: none;
    @include border-radius(3px);

    &:hover {
        background-color: var(--colorButtonFeedbackHover);
    }
}