@import '../../variables.scss';
@import '../../mixins.scss';

.button {
    width: fit-content;
    padding: 0px 20px;
    height: 36px;
    font-family: $fontFamilyMain;
    color: $white;
    background-color: $colorButtonFeedback;
    border: none;
    @include border-radius(3px);

    &:hover {
        background-color: $colorButtonFeedbackHover;
    }
}