
@import '../../mixins.scss';


.advertisement {
    margin-bottom: 15px;
    color:rgb(0, 153, 255);
    background-color: var(--colorForeBackground);

    &__image {
        position: relative;

        p {
            position: absolute;
            top: 1%;
            left: 1%;
            display: inline-block;
            padding: 2px;
            font-size: 7px;
            color: var(--colorAdverisement);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            background-color: var(--backgroundColorAdvertisement);
            @include border-radius(6px);
        }
    }
}