
@import '../../mixins.scss';

.profile-edit {

    &__dropdown {
        display: flex;
        gap: 20px;
        position: relative;
        padding-top: 10px;
        background-color: var(--colorForeBackground);
        box-shadow: 0px 0px 1px 0px var(--box-shadow10);
        border-top: 1px solid var(--colorSidebarTitleFeedback30);
    
        .dropdown__item {
            height: 40px;
            padding: 5px 10px 10px 10px;
            font-weight: 500;
            color: var(--colorProfileDropdown);
            @include transition(color, 0.2s);
    
            &:hover {
                color: var(--colorProfileMoreHover);
            }
        }

        .active-link {
            color: var(--colorProfileDropdownActive);
            border-bottom: 2px solid var(--colorProfileDropdownActive);
        }
    }
}