
@import '../../mixins.scss';

.comment {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        i {
            margin-right: 4px;
        }
        span:not(:first-child) {
            margin-left: 16px;
            font-size: 14px;
        }

        .delete__button {
            padding: 4px 8px;
            font-size: 20px;
            border: none;
            background-color: transparent;
            @include border-radius(5px);
            @include transition(background-color, 0.2s);

            i {
                margin: 0;
            }

            &:hover {
                background-color: var(--colorCommentDeleteButtonHover);
            }
        }
    }

    &__author {
        font-weight: 600;
    }

    &__form {
        display: inline-block;
        margin-left: 16px;

        button {
            padding: 5px;
            font-family: var(--fontFamilyMain);
            color: var(--color);
            background-color: transparent;
            border: none;
            @include border-radius(3px);

            &:hover {
                background-color: var(--colorCommentLikeHover);
            }
        }
    }
}