@import '../../variables.scss';
@import '../../mixins.scss';

.create-article {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--colorForeBackground);
    box-shadow: 0px 0px 1px 0px var(--box-shadow10);

    &__error {
        color: var(--red);
        margin-bottom: 10px;
    }

    h3 {
        padding-bottom: 12px;
        margin-bottom: 30px;
        font-size: 22px;
        text-align: center;
        border-bottom: 1px solid var(--colorSidebarTitleFeedback30);
    }

    label {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__category {
        width: 150px;
        margin-bottom: 24px;
        color: var(--colorTextarea);
        background-color: var(--backgroundColorTextarea);
    }

    .category-span {
        margin-right: 4px;
        color: var(--red);
    }
    
    &__image {
        margin-bottom: 24px;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 24px;
    }

    &__delete, &__add-tag-btn {
        padding: 4px 8px;
        color: var(--colorTextarea);
        background-color: transparent;
        border: 1px solid var(--colorBorderTextarea);
        @include border-radius(15px);
        @include transition(all, 0.2s);

        &:hover {
            color: var(--black);
            background-color: var(--colorNewArticleTagsBackground);
            border-color: var(--colorNewArticleTagsBorderFocus);
        }
    }

    &__add-tag {
        padding: 4px 8px;
        color: var(--colorTextarea);
        background-color: transparent;
        border: 1px solid var(--colorBorderTextarea);
        @include border-radius(15px);
    }
}