@import '../../../variables.scss';
@import '../../../mixins.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > div {
        background-color: var(--colorForeBackground);
    }
    
    & > div:not(:nth-child(1), :nth-child(2)){
        padding: 15px;
    }

    &__top-articles {

        .top-articles {

            &__title {
                padding-bottom: 12px;
                margin-bottom: 20px;
                font-size: 13px;
                color: var(--colorSidebarTitleTopArticles);
                font-weight: 600;
                text-transform: uppercase;
                border-bottom: 1px solid var(--colorSidebarTitleTopArticles30);
            }

            &__list {

                .list {

                    &__item {
                        &:not(:last-child) {
                            padding-bottom: 12px;
                            margin-bottom: 12px;
                            border-bottom: 1px solid var(--colorSidebarTitleTopArticles30);
                        }

                        &:hover {
                            .item__title {
                                color: var(--colorSidebarLinkHover);
                            }
                        }

                        .item {

                            &__title {
                                margin-bottom: 6px;
                                color: var(--colorSidebarTopArticles);
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 1.5;
                                @include transition(color, 0.2s);
                            }

                            &__info {
                                padding-left: 4px;
                                font-weight: 600;
                                color: var(--colorSidebarSpanText);
                                
                                i {
                                    margin-right: 6px;
                                    color: var(--colorSidebarSpan);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}