
@import '../../mixins.scss';

.article-card {
    padding: 30px;
    margin-bottom: 15px;
    background-color: var(--colorForeBackground);
    box-shadow: 0px 0px 1px 0px var(--box-shadow10);

    &__info {
        position: relative;
        background-color: var(--colorForeBackground);

        .btn {
            display: inline-block;
            height: 50px;
            padding-right: 20px;
            color: var(--black);
            font-weight: 700;
            line-height: 50px;
            background-color: var(--white);
            box-shadow: 1px 1px 3px 0 var(--box-shadow20);
            @include transition(background-color, 0.2s);
            @include transition(color, 0.2s);

            &:hover {
                background-color: var(--colorSecondaryArticleCard);
                color: var(--white);
            }

            i {
                padding: 0px 30px 0px 15px;
                margin-right: 10px;
                height: 50px;
                line-height: 50px;
                color: var(--white);
                background-color: var(--colorSecondaryArticleCard);
                clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
            }
        }
    }

    &__title{
        margin-bottom: 8px;
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 600;
    }

    &__additional-info {
        margin-bottom: 16px;

        span {
            display: inline-flex;
            align-items: center;
            margin-right: 16px;

            i {
                color: var(--colorSecondaryArticleCard);
                margin-right: 6px;
            }
        }
    }

    &__tags {
        margin-bottom: 16px;

        span {
            display: inline-block;
            padding: 2px 5px;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 600;
            color: var(--white);
            background-color: var(--colorSecondaryArticleCard);

            @include border-radius(3px);
        }
    }

    &__content {
        margin-bottom: 16px;
        line-height: 1.5em;
    }

    &__image {
        margin-bottom: 30px;
    }

    &__form {
        display: inline-block;
        margin-right: 16px;

        button {
            padding: 5px;
            font-family: var(--fontFamilyMain);
            color: var(--color);
            font-size: 16px;
            background-color: transparent;
            border: none;
            @include border-radius(3px);

            &:hover {
                background-color: var(--colorCommentLikeHover);
            }

            span {
                margin-right: 0;
            }
        }
    }
}