
@import '../../mixins.scss';

.no-articles {
    position: relative;
    padding: 30px;
    margin-bottom: 15px;
    background-color: var(--colorForeBackground);
    box-shadow: 0px 0px 1px 0px var(--box-shadow10);
}