@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fontFamilyMain: 'Raleway', sans-serif;
$backgroundColor: #f0f0f0;
$white: #fff;
$greyLight: #e6e6e6;
$grey: #b3b3b3;
$greyDark: #585858;
$black: #000;
$red: #ff0000;

$colorPlaceholder: #acacac;
$colorInput: #686868;
$colorInputIcon: #999;
$colorLoginTitle: #333;
$colorLoginMain: #d33f8d;

$colorDropDownMenuLink: #ebf8ff;
$colorForeBackground: #fff;
$colorSecondaryArticleCard: #ffb535;

$backgroundColorFooter: #1f2225;
$colorFooter: #bbcdd6;
$colorLinkFooter: #49addf;

$colorSidebarTopArticles: #2b2b2b;
$colorSidebarTitleTopArticles: #6F7577;
$colorSidebarSpan: #BBCDD6;
$colorSidebarSpanText: #929CA5;
$colorSidebarLinkHover: #768791;

$colorBorderFeedback: #BBCDD6;
$colorBorderFeedbackFocus: #558ca5;
$colorButtonFeedback: #ffb535;
$colorButtonFeedbackHover: #d3962c;
$colorSidebarTitleFeedback: #6F7577;

$colorPaginationBorder: #ffb535;
$colorPaginationActive: #bb7f17;

$colorCommentsTitleBorder: #6F7577;
$colorCommentTitleSpan: #ffb535;
$colorCommentBackground: #f0f0f0;
$colorCommentLikeHover: #f0f0f0;
