@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$fontFamilyMain: 'Raleway', sans-serif;
$backgroundColor: #f0f0f0;
$white: #fff;
$greyLight: #e6e6e6;
$grey: #b3b3b3;
$greyDark: #585858;
$black: #000;
$colorPlaceholder: #acacac;
$colorInput: #686868;
$colorInputIcon: #999;
$colorLoginTitle: #333;
$colorLoginMain: #d33f8d;
$colorDropDownMenuLink: #ebf8ff;
$colorForeBackground: #fff;
$colorSecondaryArticleCard: #ffb535;