@import '../../variables.scss';
@import '../../mixins.scss';


.input {
    width: 100%;
    height: 60px;
    padding: 0px 30px 0px 65px;
    font-size: 18px;
    color: var(--colorInput);
    background-color: var(--greyLight);
    border: none;
    @include border-radius(3px);

    &::placeholder {
        color: var(--colorPlaceholder);
    }

    &:focus-visible, &:focus {
        outline: none;

        &::placeholder {
            color: transparent;
        }

        & + .i--login {
            @include transition(all, 0.4s);
            left: 6.5%;
            color: var(--colorLoginMain);
        }
    }
}

.i--login {
    position: absolute;
    left: 8%;
    font-size: 18px;
    color: var(--colorInputIcon);
    @include transition(all, 0.4s);
}